
.contactbutton {
background-color: #f7d08a;
border-color: #f7d08a;
width: 150px;
height: 30px;
border-radius: 5px;
font-family: "Martel", serif;
}

.contactbutton:hover {
    background-color: #418153 ;
    border-color: 1px solid white;
    color: white;
}