
.button {
    background-color: #f7d08a;
    border-color: #f7d08a;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 5px;
    font-family: "Martel", serif;
}

.button:hover {
    background-color: #418153 ;
    border-color: 1px solid white;
    color: white;
}
  
  .button:active {
    background-color: #d49c4a;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  